<ion-content class="ion-padding">

  <form [formGroup]="newOf">
    <ion-card>
    <ion-item>

      <ion-input type="text" formControlName="numeroOf" placeholder="Numéro OF"></ion-input>
    </ion-item>
  
    <ion-item>
 
      <ion-input type="text" formControlName="numeroLot" placeholder="Numéro Lot"></ion-input>
    </ion-item>
  
    <ion-item>

      <ion-input type="text" formControlName="article" placeholder="Article"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Ligne</ion-label>
      <ion-select formControlName="ligne">
        <ion-select-option value="Ligne B">Ligne B</ion-select-option>
        <ion-select-option value="Ligne C">Ligne C</ion-select-option>
        <ion-select-option value="Ligne D">Ligne D</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Début production</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-accordion-group>
          <ion-accordion *ngFor="let control of debutProduction.controls; let i = index"
            [formGroup]="getFormGroup(control)">
            <ion-item slot="header">
              <ion-label>Début production {{ i + 1 }}</ion-label>
            </ion-item>
            <div slot="content">
              <ion-item>
                <ion-input formControlName="heure" (ionBlur)="checkTimeFormat(debutProduction, i, 'heure')" type="time"
                  placeholder="heure"></ion-input>

              </ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col size="4"></ion-col>
                  <ion-col size="4" class="ion-align-self-center">
                    <ion-label>Conforme</ion-label>
                  </ion-col>
                  <ion-col size="4" class="ion-align-self-center">
                    <ion-label>Non Conforme</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="4">
                    <ion-item>
                      <ion-label>Matériel</ion-label>
                    </ion-item>
                  </ion-col>
                  <ion-col size="4" class="ion-text-center">
                    <ion-checkbox formControlName="conforme"
                      (ionChange)="onCheckboxChangeGeneric(debutProduction,i, 'conforme', 'nonconforme', 'commentaires')"
                      e></ion-checkbox>
                  </ion-col>
                  <ion-col size="4" class="ion-text-center">
                    <ion-checkbox formControlName="nonconforme"
                      (ionChange)="onCheckboxChangeGeneric(debutProduction,i, 'conforme', 'nonconforme', 'commentaires')"></ion-checkbox>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-item *ngIf="getFormGroup(control).get('nonconforme')?.value">
                <ion-label position="floating">Commentaires</ion-label>
                <ion-textarea formControlName="commentaires"></ion-textarea>
              </ion-item>
              <ion-button expand="full" color="success" (click)="validateDebutProduction(i)">Valider</ion-button>
              <ion-button (click)="removeDebutProduction(i)" color="danger">Supprimer</ion-button>
            </div>
          </ion-accordion>
        </ion-accordion-group>
        <!-- Bouton Ajouter doit être bien en dehors de la boucle *ngFor pour rester visible -->
        <ion-button (click)="addDebutProduction()" color="primary">Ajouter</ion-button>
      </ion-card-content>
    </ion-card>



    <ion-card>
      <ion-card-header>
        <ion-card-title>Contrôle horaire</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-accordion-group>
          <ion-accordion *ngFor="let control of controleHoraire.controls; let i = index"
            [formGroup]="getFormGroup(control)">
            <ion-item slot="header">
              <ion-label>Controle horaire {{ i + 1 }}</ion-label>
            </ion-item>
            <div slot="content">

              <ion-item>
                <ion-input formControlName="heure" (ionBlur)="checkTimeFormat(controleHoraire, i, 'heure')"
                  placeholder="heure" type="time"></ion-input>
              </ion-item>

              <ion-grid>
                <ion-row>
                  <ion-col size="4"></ion-col>
                  <ion-col size="4" class="ion-align-self-center">
                    <ion-label>Conforme</ion-label>
                  </ion-col>
                  <ion-col size="4" class="ion-align-self-center">
                    <ion-label>Non Conforme</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="4">
                    <ion-item>
                      <ion-label>Matériel</ion-label>
                    </ion-item>
                  </ion-col>
                  <ion-col size="4" class="ion-text-center">
                    <ion-checkbox formControlName="conformeHoraire"
                      (ionChange)="onCheckboxChangeGeneric(controleHoraire,i, 'conformeHoraire', 'nonconformeHoraire', 'commentsHoraire')"
                      e></ion-checkbox>
                  </ion-col>
                  <ion-col size="4" class="ion-text-center">
                    <ion-checkbox formControlName="nonconformeHoraire"
                      (ionChange)="onCheckboxChangeGeneric(controleHoraire,i, 'conformeHoraire', 'nonconformeHoraire', 'commentsHoraire')"></ion-checkbox>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-item *ngIf="getFormGroup(control).get('nonconformeHoraire')?.value">
                <ion-label position="floating">Commentaires</ion-label>
                <ion-textarea formControlName="commentsHoraire"></ion-textarea>
              </ion-item>
              <ion-button expand="full" color="success" (click)="validateControlHoraire(i)">Valider</ion-button>
              <ion-button (click)="removeControlHoraire(i)" color="danger">Supprimer</ion-button>
            </div>
          </ion-accordion>
        </ion-accordion-group>
        <ion-button (click)="addControleHoraire()" color="primary">Ajouter</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Contrôles toutes les 4h</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-accordion-group>
          <ion-accordion *ngFor="let control of controle4h.controls; let i = index" [formGroup]="getFormGroup(control)">
            <ion-item slot="header">
              <ion-label>Contrôle {{ i + 1 }}</ion-label>
            </ion-item>
            <div slot="content">
              <!-- Sous-accordéon pour Contrôle de métaux et Éjection sous poids -->
              <ion-accordion-group>
                <ion-accordion>
                  <ion-item slot="header">
                    <ion-label>Métaux</ion-label>
                  </ion-item>
                  <div slot="content">
                    <ion-item>
                      <ion-input formControlName="heureMetaux" placeholder="Heure"
                        (ionBlur)="checkTimeFormat(controle4h, i, 'heureMetaux')" type="time"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-input formControlName="controleMetaux" placeholder="première valeure"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-input formControlName="controleMetaux2" placeholder="dernière valeure"></ion-input>
                    </ion-item>

                    <ion-button expand="full" color="success" (click)="validateControleMetaux(i)">Valider</ion-button>
                  </div>
                </ion-accordion>

                <ion-accordion>
                  <ion-item slot="header">
                    <ion-label>Éjection sous poids</ion-label>
                  </ion-item>
                  <div slot="content">
                    <ion-item>
                      <ion-input formControlName="heureEjection" placeholder="Heure"
                        (ionBlur)="checkTimeFormat(controle4h, i, 'heureEjection')" type="time"></ion-input>
                    </ion-item>

                    <ion-grid>
                      <ion-row>
                        <ion-col size="4"></ion-col>
                        <ion-col size="4" class="ion-align-self-center">
                          <ion-label>Conforme</ion-label>
                        </ion-col>
                        <ion-col size="4" class="ion-align-self-center">
                          <ion-label>Non Conforme</ion-label>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col size="4">
                          <ion-item>
                            <ion-label>Ejection</ion-label>
                          </ion-item>
                        </ion-col>
                        <ion-col size="4" class="ion-text-center">
                          <ion-checkbox formControlName="ejectionConforme"
                            (ionChange)="onCheckboxChangeGeneric(controle4h,i, 'ejectionConforme', 'ejectionNonConforme', 'commentaires')"
                            e></ion-checkbox>
                        </ion-col>
                        <ion-col size="4" class="ion-text-center">
                          <ion-checkbox formControlName="ejectionNonConforme"
                            (ionChange)="onCheckboxChangeGeneric(controle4h,i, 'ejectionConforme', 'ejectionNonConforme', 'commentaires')"></ion-checkbox>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                    <ion-item *ngIf="getFormGroup(control).get('ejectionNonConforme')?.value">
                      <ion-label position="floating">Commentaires</ion-label>
                      <ion-textarea formControlName="commentEjecNonConforme"></ion-textarea>
                    </ion-item>

                    <ion-button expand="full" color="success" (click)="validateControleEjection(i)">Valider</ion-button>
                  </div>
                </ion-accordion>

                <!-- Sous-accordéon pour Étalonnage -->
                <ion-accordion>
                  <ion-item slot="header">
                    <ion-label>Étalonnage</ion-label>
                  </ion-item>
                  <div slot="content">
                    <ion-item>
                      <ion-input formControlName="heureEtalonnage" placeholder="Heure contrôle"
                        (ionBlur)="checkTimeFormat(controle4h, i, 'heureEtalonnage')" type="time"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-input formControlName="EtalonnageMais" placeholder="Dosage Maïs"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-input formControlName="EtalonnageHuile" placeholder="Dosage huile"></ion-input>
                    </ion-item>

                    <ion-item>
                      <ion-label>Production avec poudre ?</ion-label>
                      <ion-toggle formControlName="prodAvecPoudre"></ion-toggle>
                    </ion-item>

                    <!-- Conteneur pour les deux grids -->
                    <div *ngIf="shouldShowGrid(i)" class="grid-container">
                      <!-- Première grille -->
                      <ion-grid formArrayName="peseeMais_">
                        <ion-row>
                          <ion-col class="grid-cell header-cell"></ion-col>
                          <ion-col class="grid-cell header-cell">
                            <ion-label>Pesées Maïs</ion-label>
                          </ion-col>
                          <ion-col class="grid-cell header-cell">
                            <ion-label>Conforme</ion-label>
                          </ion-col>
                        </ion-row>
                        <!-- nom des colonnes -->
                        <ion-row *ngFor="let row of generateRows(); let rowIndex = index; trackBy: trackByFn">
                          <ion-col class="grid-cell">
                            <ion-item lines="none" class="grid-item">
                              <ion-label>Pesée {{ rowIndex + 1 }}</ion-label>
                            </ion-item>
                          </ion-col>
                          <ion-col class="grid-cell">
                            <ion-item lines="none" class="grid-item">
                              <ion-input [formControlName]="rowIndex" placeholder="Valeur" inputmode="decimal"
                                type="number" value="0.00"></ion-input>

                            </ion-item>
                          </ion-col>
                          <ion-col class="grid-cell">
                            <ion-item lines="none" class="grid-item">
                            </ion-item>
                          </ion-col>
                        </ion-row>
                      </ion-grid>

                      <!-- Deuxième grid -->
                      <ion-grid formArrayName="peseeHuile_">
                        <ion-row>
                          <ion-col class="grid-cell header-cell"></ion-col>
                          <ion-col class="grid-cell header-cell">
                            <ion-label>Pesées Huile</ion-label>
                          </ion-col>
                          <ion-col class="grid-cell header-cell">
                            <ion-label>Conforme</ion-label>
                          </ion-col>
                        </ion-row>
                        <ion-row *ngFor="let row of generateRows(); let rowIndex = index; trackBy: trackByFn">
                          <ion-col class="grid-cell">
                            <ion-item lines="none" class="grid-item">
                              <ion-label>Pesée {{ rowIndex + 1 }}</ion-label>
                            </ion-item>
                          </ion-col>
                          <ion-col class="grid-cell">
                            <ion-item lines="none" class="grid-item">
                              <ion-input [formControlName]="rowIndex" placeholder="valeur" type="number"
                                value="0.00"></ion-input>
                            </ion-item>
                          </ion-col>
                          <ion-col class="grid-cell">
                            <ion-item lines="none" class="grid-item">
                            </ion-item>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </div>

                    <!-- Grid pour poudre (s'affiche si "Oui" est sélectionné) -->
                    <div *ngIf="controle4h.at(i).get('prodAvecPoudre')?.value" class="grid-container">
                      <ion-item>
                        <ion-input formControlName="EtalonnagePoudre" placeholder="Dosage Poudre"></ion-input>
                      </ion-item>
                      <ion-grid formArrayName="peseePoudre_">
                        <ion-row>
                          <ion-col class="grid-cell header-cell"></ion-col>
                          <ion-col class="grid-cell header-cell">
                            <ion-label>Pesées Poudre</ion-label>
                          </ion-col>
                          <ion-col class="grid-cell header-cell">
                            <ion-label>Conforme</ion-label>
                          </ion-col>
                        </ion-row>

                        <ion-row *ngFor="let row of generateRows(); let rowIndex = index; trackBy: trackByFn">
                          <ion-col class="grid-cell">
                            <ion-item lines="none" class="grid-item">
                              <ion-label>Pesée {{ rowIndex + 1 }}</ion-label>
                            </ion-item>
                          </ion-col>
                          <ion-col class="grid-cell">
                            <ion-item lines="none" class="grid-item">
                              <ion-input [formControlName]="rowIndex" placeholder="Valeur" inputmode="decimal"
                                type="number" value="0.00"></ion-input>
                            </ion-item>
                          </ion-col>
                          <ion-col class="grid-cell">
                            <ion-item lines="none" class="grid-item">
                              <!-- Ajoute ici la logique pour le champ "Conforme" si nécessaire -->
                            </ion-item>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </div>

                    <ion-button expand="full" color="success" (click)="validateEtalonnage(i)">Valider</ion-button>
                  </div>
                </ion-accordion>

                <!-- Sous-accordéon pour Eclatement -->
                <ion-accordion>
                  <ion-item slot="header">
                    <ion-label>Éclatement</ion-label>
                  </ion-item>
                  <div slot="content">
                    <div>
                      <ion-grid>
                        <ion-row>
                          <ion-col class="grid-cell header-cell"></ion-col>
                          <ion-col class="grid-cell header-cell">
                            <ion-label>Entre 48 et 57gr</ion-label>
                          </ion-col>
                          <ion-col class="grid-cell header-cell">
                            <ion-label>Entre 58 et 80gr</ion-label>
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col class="grid-cell header-cell">Volume</ion-col>
                          <ion-col class="grid-cell header-cell">
                            <ion-label>1600</ion-label>
                          </ion-col>
                          <ion-col class="grid-cell header-cell">
                            <ion-label>2000</ion-label>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </div>
                    <ion-grid>
                      <ion-row>
                        <ion-col>Heure</ion-col>
                        <ion-col>
                          <ion-label>Volume</ion-label>
                        </ion-col>
                        <ion-col>
                          <ion-label>Pesées Maïs non éclatés</ion-label>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <ion-item lines="none" class="grid-item">
                            <ion-input formControlName="heureEclatement" placeholder="Heure"
                              (ionBlur)="checkTimeFormat(controle4h, i, 'heureEclatement')" type="time"></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col>
                          <ion-item lines="none" class="grid-item">
                            <ion-input formControlName="volumeEclatement" placeholder="Mesure"
                              type="number"></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col>
                          <ion-item lines="none" class="grid-item">
                            <ion-input formControlName="maisNonEclates" placeholder="Poids" type="number"></ion-input>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                    </ion-grid>

                    <ion-button expand="full" color="success" (click)="validateEclatement(i)">Valider</ion-button>
                  </div>
                </ion-accordion>


              </ion-accordion-group>

              <!-- Bouton validation complète -->
              <ion-button expand="full" color="tertiary" (click)="validateControle4h(i)">Valider ce bloc</ion-button>
              <ion-button (click)="removeControle4h(i)" color="danger">Supprimer</ion-button>
            </div>
          </ion-accordion>
        </ion-accordion-group>
        <ion-button (click)="addControle4h()" color="primary">Ajouter</ion-button>
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header>
        <ion-card-title>Fin de poste</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-accordion-group>
          <ion-accordion *ngFor="let control of finPoste.controls; let i = index" [formGroup]="getFormGroup(control)">
            <ion-item slot="header">
              <ion-label>Fin de poste {{ i + 1 }}</ion-label>
            </ion-item>
            <div slot="content">
              <ion-item>
                <ion-label position="floating">Heure</ion-label>
                <ion-input formControlName="heure" (ionBlur)="checkTimeFormat(finPoste, i, 'heure')"
                  type="time"></ion-input>

              </ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col size="4"></ion-col>
                  <ion-col size="4" class="ion-align-self-center">
                    <ion-label>Conforme</ion-label>
                  </ion-col>
                  <ion-col size="4" class="ion-align-self-center">
                    <ion-label>Non Conforme</ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="4">
                    <ion-item>
                      <ion-label>Matériel</ion-label>
                    </ion-item>
                  </ion-col>
                  <ion-col size="4" class="ion-text-center">
                    <ion-checkbox formControlName="conformeMaterielFin"
                      (ionChange)="onCheckboxChangeGeneric(finPoste,i, 'conformeMaterielFin', 'nonconformeMaterielFin', 'commentsMaterielFin')"
                      e></ion-checkbox>
                  </ion-col>
                  <ion-col size="4" class="ion-text-center">
                    <ion-checkbox formControlName="nonconformeMaterielFin"
                      (ionChange)="onCheckboxChangeGeneric(finPoste,i, 'conformeMaterielFin', 'nonconformeMaterielFin', 'commentsMaterielFin')"></ion-checkbox>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-item *ngIf="getFormGroup(control).get('nonconformeMaterielFin')?.value">
                <ion-label position="floating">Commentaires</ion-label>
                <ion-textarea formControlName="commentsMaterielFin"></ion-textarea>
              </ion-item>
              <ion-button expand="full" color="success" (click)="validateFinPoste(i)">Valider</ion-button>
              <ion-button (click)="removeFinPoste(i)" color="danger">Supprimer</ion-button>
            </div>
          </ion-accordion>
        </ion-accordion-group>
        <!-- Bouton Ajouter doit être bien en dehors de la boucle *ngFor pour rester visible -->
        <ion-button (click)="addFinPoste()" color="primary">Ajouter</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-button (click)="onSubmit()" expand="full">Soumettre</ion-button>
  </form>
</ion-content>